.grid-div {
  display: grid;
  grid-template-columns: 170px 170px;
  column-gap: 32px;
}

.divtitulo {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-button-register {
  display: flex;
  align-items: center;
  justify-content: center;
} 
