
::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 1rem;

}

::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(180 180 190 / var(--tw-bg-opacity));
    border-radius: 1rem;
}

.div-tabela {
    overflow-y: scroll;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background: white;
}

.div-table {
    /*max-width: 75%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-button-table {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /*padding: 0 20px 10px 10px;*/
    padding-bottom: 10px;
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
