.conteudo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.cabecalho {
  margin-bottom: 10px;
}

.geral {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.rodape {
  margin-top: 1px;
  background: #3459e6;
  display: flex;
  justify-content: center;
}

.link-github {
  color: white;
  padding: 10px 0 10px 0;
  margin: 0;
}

.toast-position {
  bottom: 2rem !important;
}
