
.geral {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

.conteudo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

label {
    color: white;
    margin-left: 5px;
}

.div-campos {
    /*display: flex;*/
    /*flex-direction: column;*/
}


.rodape {
    display: flex;
    background: #555555;
}

.cabecalho {
    background: #999999;
}
