
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100%;
    /*background: url("./assets/wallpaper.jpg");*/
    /*background-size: cover;*/
}

